name: Chocolatine

on:
  push:
    branches-ignore:
      - "ga-ignore-*"
  pull_request:
    branches-ignore:
      - "ga-ignore-*"

env:
  MIRROR_URL: "git@github.com:EpitechPromo2026/B-DOP-200-PAR-2-1-chocolatine-florian.lauch.git"
  EXECUTABLES: "project"

jobs:
  check_repository_cleanliness:
    name: Check repository cleanliness
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
  check_program_compilation:
    name: Check program compilation
    runs-on: ubuntu-latest
    container: epitechcontent/epitest-docker
    needs:
      - check_repository_cleanliness
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: make
        timeout-minutes: 2
      - run: make clean
  run_tests:
    name: Run tests
    runs-on: ubuntu-latest
    container: epitechcontent/epitest-docker
    needs:
      - check_program_compilation
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: make tests_run
        timeout-minutes: 2
  push_to_mirror:
    name: Push to mirror
    runs-on: ubuntu-latest
    needs:
      - run_tests
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            ${{ secrets.MIRROR_URL }}
          ssh_private_key:
            ${{ secrets.SSH_PRIVATE_KEY }}
