name: Chocolatine

on:
  push:
    branches-ignore:
      - "ga-ignore-*"
  pull_request:
    branches-ignore:
      - "ga-ignore-*"

env:
  MIRROR_URL: "git@github.com:EpitechPromo2026/B-DOP-200-PAR-2-1-chocolatine-florian.lauch.git"
  EXECUTABLES: "project"

jobs:
  check_repository_cleanliness:
    name: Check repository cleanliness
    runs-on: ubuntu-latest
    steps:
      - name: Repository checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Find unwanted files
        run: find . -regextype posix-extended -regex '.*\.(~.a|o|so|gcda|gcno|gcov)' -exec echo "::error file={},title="Unwanted file detected"::{}" \;
      - name: Find files in tmp
        run: find . -path '*/tmp/*' -exec echo "::error file={},title="Unwanted file detected"::{}" \;
      - name: Find pain_au_chocolat files
        run: find . -iname "*pain_au_chocolat*" -exec echo "::error file={},title="Unwanted file detected"::{}" \;
      - name: Exit if file is found
        run: find . -regextype posix-extended -regex '.*\.(a|o|so|gcda|gcno|gcov)' -o -path '*/tmp/*' -o -iname "*pain_au_chocolat*" | grep -q . || exit 0 && exit 1
  check_program_compilation:
    name: Check program compilation
    runs-on: ubuntu-latest
    container: epitechcontent/epitest-docker
    needs:
      - check_repository_cleanliness
    steps:
      - name: Repository checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Compilation execution
        timeout-minutes: 2
        run: make
      - name: Clean execution
        run: make clean
  run_tests:
    name: Run tests
    runs-on: ubuntu-latest
    container: epitechcontent/epitest-docker
    needs:
      - check_program_compilation
    steps:
      - name: Repository checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Tests execution
        timeout-minutes: 2
        run: make tests_run
  push_to_mirror:
    name: Push to mirror
    runs-on: ubuntu-latest
    needs:
      - run_tests
    if: github.event_name == 'push'
    steps:
      - name: Repository checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Repository mirroring
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            ${{ env.MIRROR_URL }}
          ssh_private_key:
            ${{ secrets.GIT_SSH_PRIVATE_KEY }}
